<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/TizenGardenWebApp" version="1.0.0" viewmodes="maximized">
    <tizen:application id="mr1E7IuUQd.SmartGarden" package="mr1E7IuUQd" required_version="3.0"/>
    <author email="volkova.t@samsung.com">Tatyana Volkova</author>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="logo.jpg"/>
    <name>TizenGardenWebApp</name>
    <tizen:profile name="mobile"/>
</widget>
